body { 
    margin:0; 
    font-family:'Open Sans', 'Outfit', 'Roboto', 'Source Code Pro', sans-serif;
}
body > header {
    background-color: #00223e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:6px 24px;
    max-height: 50px;
    overflow: hidden;
}
body > header * {
    color:white;
}
body > header > div {
    flex:0;
}
body > header > div * {
    height: 50px;
}
body > header > h1 {
    white-space: nowrap;
    flex:0;
    margin:0 20px;
}
body > header > nav { flex:1; display: flex; justify-content: flex-end; }
body > header > nav > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body > header > nav > ul > li {
    gap: 6px;
    display: flex;
}
body > header > nav > ul > li > a {
    display: flex;
    align-items: center;
    padding: 10px;
    text-shadow: 0px 0px 2px black;
    text-decoration: none;
    color:white;
    background:#064171;
    border-radius: 6px;
    transition: background 0.2s ease-in-out;
    font-weight:600;
}   
body > header > nav > ul > li > a:hover {
    background:#0a5aa1;
    transition: background 0.2s ease-in-out;
}