body { 
    margin:0; 
    font-family:'Open Sans', 'Outfit', 'Roboto', 'Source Code Pro', sans-serif;
}
body > header {
    background-color: #00223e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:6px 24px;
    max-height: 50px;
    overflow: hidden;
}
body > header * {
    color:white;
}
body > header > div:first-child * {
    height: 50px;
}